/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Lato', sans-serif;
}
/* /general */

/* finestra principale */
#root {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
    position: relative;
}

.container {
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    display: flex;
}
/* /finestra principale */

/* contatti */
.contacts{
    width: 35%;
    height: 100%;
    background-color: pink;
}

/* sezione personale */
.me {
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-name{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.avatar-name img {
    height: 50px;
    padding: 3px 0;
    border-radius: 50%;
    margin-right: 5px;
}

.avatar-name p {
    font-size: 14px;
}

.avatar-icons {
    padding-right: 15px;
}

.avatar-icons i {
    color: #B1B1B1;
    margin: 0 5px;
}
/* /sezione personale */

/* sezione notifiche */
.notifications {
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.sound{
    background-color: #FFFFFF;
    color: #8EDAFC;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.not-text p {
    font-size: 14px;
}

.not-text a {
    font-size: 10px;
    color: #6B7376;
}
/* /sezione notifiche */


/* /contatti */

/* messaggi */
.messages {
    width: 65%;
    height: 100%;
    background-color: green;
}
/* /messaggi */