<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- /vuejs -->

        <!-- dayjs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
        <!-- /dayjs -->

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- /fontawesome -->

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- /google font -->

        <!-- css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- /css -->

        <title>Boolzapp</title>
    </head>

    <body>

        <div id="root">
            <!-- finestra principale -->
            <div class="container">

                <!-- contatti -->
                <div class="contacts">

                    <!-- sezione personale -->
                    <div class="me">
                        <div class="avatar-name">
                            <img src="img/avatar_io.jpg" alt="avatar">
                            <p>Alessandro</p>
                        </div>
                        <div class="avatar-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /sezione personale -->

                    <!-- sezione notifiche -->
                    <div class="notifications">
                        <div class="sound">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="not-text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /sezione notifiche -->

                    <!-- sezione ricerca -->
                    <div class="search">
                        <div class="search-container">
                            <div class="lens">
                                <i class="fas fa-search"></i>
                            </div>
                            <input class="input-text" type="text" placeholder="Cerca o inizia una nuova chat" v-model="newSearch" @keydown="searchContact">
                        </div>
                    </div>
                    <!-- /sezione ricerca -->

                    <!-- lista contatti -->
                    <div class="contact-list">
                        <div  v-for="(item, index) in contacts" @click="contactActive = index" :class=" contactActive == index ? 'active' : '' " 
                        class="contact" v-if="item.visible == true">
                            <img class="contact-avatar" v-bind:src="item.avatar" alt="contact avatar">
                            <p class="contact-name">{{ item.name }}</p>
                        </div>
                    </div>
                    <!-- /lista contatti -->

                </div>
                <!-- /contatti -->

                <!-- messaggi -->
                <div class="messages">

                    <!-- sezione contatto -->
                    <div class="message-header">
                        <div class="message-avatar">
                            <img :src="contacts[contactActive].avatar" alt="avatar">
                            <div>
                                <p>{{ contacts[contactActive].name }}</p>
                                <span>Ultimo accesso oggi alle</span>
                            </div>
                        </div>
                        <div class="message-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /sezione contatto -->

                    <!-- corpo messaggi -->
                    <div class="baloons">
                        <div v-for="(item, index) in contacts[contactActive].messages" class="message" :class="item.status">
                            <p>{{ item.message }}</p>
                            <span class="date">{{ item.date }}</span>
                        </div>
                    </div>
                    <!-- /corpo messaggi -->

                    <!-- input messaggio -->
                    <div class="message-input">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keydown.13="addMessage">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <!-- /input messaggio -->

                </div>
                <!-- /messaggi -->

            </div>
            <!-- /finestra principale -->
        </div>
        
        <!-- javascript -->
        <script src="js/script.js"></script>
        <!-- /javascript -->

    </body>

</html>